body {
	background-color: rgb(255,200,200);
	margin: 0px;
	overflow-y: hidden;
 }
h1 {
	color: red;
	font-family: "Harlow Solid", "Forte", "Script MJ";
	margin: 0px;
	text-align: center;
	background-color: white;
	border-style: solid;
	border-width: 5px;
	border-color: rgb(255,255,255);
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
 }
p {
	background-color: white;
	border-style: solid;
	border-width: 5px;
	border-color: white;
	border-radius: 10px;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 0.5%;
	margin-bottom: 0.5%;
	text-align: center;
	overflow: auto;
}
ul#menu li {
	font-family: "Small Fonts", Cooper, Impact;
	display: inline;
	background-color: white;
	border-style: solid;
	border-width: 5px;
	border-color: white;
	border-radius: 10px;
}
h6 {
	color: red;
	font-family: "Harlow Solid", "Forte", "Script MJ";
	margin: 0px;
	text-align: center;
	background-color: white;
	border-style: solid;
	border-width: 5px;
	border-color: rgb(255,255,255);
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
 }
h6#videos {
	text-align: center;
	position: fixed;
	bottom: 0px;
	color: red;
	background-color: white;
	border-style: solid;
	border-width: 5px;
	border-color: white;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	width: 100%;
	margin: 0px;
 }
iframe {
	margin: auto;
	align: middle;
	border-style: solid;
	border-width: 5px;
	border-color: white;
	border-radius: 10px;

}
p#videos {
	background-color: white;
	border-style: solid;
	border-width: 5px;
	border-color: white;
	border-radius: 10px;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
	overflow: auto;
}
h6#about {
	text-align: center;
	position: fixed;
	bottom: 0px;
	color: red;
	background-color: white;
	border-style: solid;
	border-width: 5px;
	border-color: white;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	width: 100%;
	margin: 0px;
 }
h6#contact {
	text-align: center;
	position: fixed;
	bottom: 0px;
	color: red;
	background-color: white;
	border-style: solid;
	border-width: 5px;
	border-color: white;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	width: 100%;
	margin: 0px;
 }
h6#games {
	text-align: center;
	position: fixed;
	bottom: 0px;
	color: red;
	background-color: white;
	border-style: solid;
	border-width: 5px;
	border-color: white;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	width: 100%;
	margin: 0px;
 }
/* unvisited link */
a:link {
	color: red;
	text-decoration: none;
}

/* visited link */
a:visited {
	color: rgb(150,0,0);
	text-decoration: none;
}

/* mouse over link */
a:hover {
	color: rgb(200,0,0);
	text-decoration: none;
}

/* selected link */
a:active {
	color: rgb(255,175,175);
	text-decoration: none;
}

h6#memes {
	text-align: center;
	position: fixed;
	bottom: 0px;
	color: red;
	background-color: white;
	border-style: solid;
	border-width: 5px;
	border-color: white;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	width: 100%;
	margin: 0px;
 }
h2 {
	font-family: "consolas";
	background-color: white;
	border-style: solid;
	border-width: 5px;
	border-color: white;
	border-radius: 10px;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 0.5%;
	margin-bottom: 0.5%;
	text-align: center;
	overflow: auto;
}
h3 {
	font-family: "consolas";
	background-color: white;
	border-style: solid;
	border-width: 5px;
	border-color: white;
	border-radius: 10px;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 0.5%;
	margin-bottom: 0.5%;
	text-align: center;
	overflow: auto;
}
/* unvisited link */
#disabled:link {
	color: gray;
	text-decoration: none;
}

/* visited link */
#disabled:visited {
	color: rgb(150,150,150);
	text-decoration: none;
}

/* mouse over link */
#disabled:hover {
	color: rgb(200,200,200);
	text-decoration: none;
}

/* selected link */
#disabled:active {
	color: rgb(175,175,175);
	text-decoration: none;
}
