body {
	background-color: rgb(200,200,200);
	margin: 0px;
	overflow-y: hidden;
 }
h1 {
	color: red;
	font-family: "Harlow Solid";
	margin: 0px;
	text-align: center;
	background-color: white;
	border-style: solid;
	border-width: 5px;
	border-color: rgb(255,255,255);
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
 }
p {
	background-color: white;
	border-style: solid;
	border-width: 5px;
	border-color: white;
	border-radius: 10px;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 0.5%;
	margin-bottom: 0.5%;
	text-align: center;
}
h6 {
	text-align: center;
	color: red;
	background-color: white;
	border-style: solid;
	border-width: 5px;
	border-color: white;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	margin-top: 25.25%;
	margin-bottom: 0px
 }